/* FORM */
form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 450px;
  height: 50px;
  margin: 10px 20px 0;
  border: 2px solid #303030;
  border-radius: 15px;
  background-color: #1f1f1f;
  color: white;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  box-shadow: none;
  transition: box-shadow 0.2s ease-in-out;
}
form:hover {
  box-shadow: #ffffff30 0 0 5px;
  transition: all 0.1s ease-in-out;
}

/* INPUT */
input[name="search"] {
    width: 70%;
    height: 50px;
    padding: 0 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: transparent;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 300;
    outline: none;
}
form:hover input::placeholder {
  text-shadow: #ffffff40 0 0 10px;
  color: #ffffff90;
  transition: all 0.2s ease-in-out;
}

/* SELECT */
select[name="selector"] {
    width: 25%;
    height: 50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 10px solid transparent;
    background-color: transparent;
    color: #ffffff90;
    font-size: 1.5rem;
    font-weight: 300;
    outline: none;
}
select[name="selector"]:active {
    color:white;
}
form:hover select[name="selector"] {
  text-shadow: #ffffff40 0 0 10px;
  color: #ffffff90;
  transition: all 0.2s ease-in-out;
}
select[name="selector"] option {
    background-color: #1f1f1f;
}

/* BUTTON */
button[type="submit"] {
    width: 15%;
    height: 40px;
    border-radius: 10px;
    border: none;
  background-color: #303030;
  color: #fff;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}
/* button[type="submit"]::-webkit-search-cancel-button {
    position: relative;
    right: 30px;
    color: white;
} */
input:focus + button {
  background-color: #6e6e6e;
  animation: blinking 3s infinite;
}
@keyframes blinking {
  0% {
    background-color: #303030;
  }
  50% {
    background-color: #6e6e6e;
  }
  100% {
    background-color: #303030;
  }
}
button[type="submit"]:hover {
  background-color: #fff;
  color: #303030;
  transition: all 0.2s ease-in-out;
  animation: button-change 3s infinite;
}
@keyframes button-change {
  0% {
    background-color: #fff;
    color: #303030;
  }
  50% {
    background-color: rgb(225, 225, 225);
    color: #303030;
  }
  100% {
    background-color: #fff;
    color: #303030;
  }
}
button[type="submit"]:active {
  background-color: #fff;
  color: #303030;
}
