header {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
header h1.Header-title {
  text-align: center;
  color: white;
  margin: 20px 0 0;
  font-size: 3rem;
  animation: shadow-change 4s infinite;
  text-shadow: #ffffff80 0 0 10px;
  cursor:pointer;
}
@keyframes shadow-change {
  0% {
    text-shadow: #ffffff80 0 0 10px;
  }
  50% {
    text-shadow: #ffffff40 0 0 10px;
  }
  100% {
    text-shadow: #ffffff80 0 0 10px;
  }
}
main {
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}
@media screen and (min-width: 1485px) {
  header {
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
  }
  header h1.Header-title {
    margin: 0;
  }
}
